<form action="" method="post">
  <label for="course1">Course 1:</label>
  <input type="text" name="course1" aria-describedby="course one" />
  <label for="section1">Sections:</label>
  <input type="text" name="section1" aria-describedby="Sections one" />
  <br />
  <label for="course2">Course 2:</label>
  <input type="text" name="course2" aria-describedby="course two" />
  <label for="section2">Sections:</label>
  <input type="text" name="section2" aria-describedby="Sections two" />
  <br />
  <label for="course3">Course 3:</label>
  <input type="text" name="course3" aria-describedby="course three" />
  <label for="section3">Sections:</label>
  <input type="text" name="section3" aria-describedby="Sections three" />
  <br />
  <label for="course4">Course 4:</label>
  <input type="text" name="course4" aria-describedby="course four" />
  <label for="section4">Sections:</label>
  <input type="text" name="section4" aria-describedby="Sections four" />
  <br />
  <label for="course5">Course 5:</label>
  <input type="text" name="course5" aria-describedby="course five" />
  <label for="section5">Sections:</label>
  <input type="text" name="section5" aria-describedby="Sections five" />
  <br />
  <br />
  <label for="email">Email:</label>
  <input type="email" name="email" aria-describedby="email" />
  <br />
  <br />
  <input type="submit" value="Submit" />
</form>